@media screen and (max-width: 1024px) {
  .shoes__panner {
    width: 80%;
    animation-name: rotateShoes 2s;
  }

  @keyframes rotateShoes {
    0% {
      position: absolute;
      top: 14.2%;
      left: 20.25%;
      transform: scale(0);
    }
    50% {
      position: absolute;
      top: 14.2%;
      left: 23.25%;
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 720px) {
  .contact__shoes {
    position: absolute;
    bottom: 80px;
    left: 8%;
  }
  .header__right {
    position: absolute;
    width: 100%;
  }
  .image_banner {
    position: absolute;
    right: 0px;
    width: 45%;
    opacity: 0.5;
  }
  .shoes__panner {
    width: 80%;
    animation-name: rotateShoes 2s;
  }

  @keyframes rotateShoes {
    0% {
      transform: scale(0.1);
      position: absolute;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    50% {
      transform: scale(1.3);
    }
  }

  .icon_Shoes {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .shoes__panner {
    width: 100%;
    animation: none;
  }
  .image_banner {
    width: 60%;
    position: absolute;
    right: 0px;
    opacity: 0.5;
  }
  .contact__shoes {
    position: absolute;
    left: 0px;
    bottom: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
  }
  .icon_Shoes {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 375px) {
  .title_header {
    margin-left: 40px;
  }
  .slogan_header {
    margin-left: 60px;
  }
  .shoes__panner {
    width: 100%;
    animation: none;
  }
  .header__right {
    position: absolute;
    width: 100%;
  }
  .header__left {
    width: 78%;
  }
  .image_banner {
    width: 50%;
    position: absolute;
    right: 0px;
    opacity: 0.3;
  }
  .contact__shoes {
    position: absolute;
    left: 0px;
    bottom: 25px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
  }
  .icon_Shoes {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
